# OpenCV para procesamiento de imágenes
opencv-python==4.5.5.62
pickle5==0.0.11

# Pillow para manipulación de imágenes
Pillow==9.0.1

# NumPy para cálculos numéricos
numpy==1.23.4

# Streamlit para desplegar la aplicación
streamlit==1.18.1
