# OpenCV para procesamiento de imágenes
opencv-python==4.8.1.78

# Pillow para manipulación de imágenes
Pillow==9.2.0

# NumPy para cálculos numéricos
numpy==1.23.5

# Streamlit para desplegar la aplicación
streamlit==1.37.1
joblib== 1.3.2